<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<h2 align="center">New sale form</h2>
<p align="center"> <a href="/"> Home </a> | <a href="/show"> View all sales </a> | <a href="/remove"> delete sale </a>   </p>
<div align="center">
    <form method="post" action="/new_sale">
        <table>
            <tr>
                <td><label for="id">Item Id</label></td>
                <td><input type="number" name="item_id" id="id"></input></td>
            </tr>
            <tr>
                <td><label for="name">Item name</label></td>
                <td><input type="text" name="item_name" id="name"></input></td>
            </tr>
            <tr>
                <td><label for="amount">Item amount</label></td>
                <td> <input type="number" name="item_amount" id="amount"></input></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add sale" align="right"> </input></td>

            </tr>
        </table>
    </form>
</div>
</body>
</html>